html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 10px;
}

#popup{
	position: absolute;
	display: block;
	background: #fff;
	z-index: 2;
	border: 1px solid #dfdfdf;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ccc;
}
.cont_svg{
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
.close_popup{
	position: absolute;
	left:0px;
	top: 0px;
	width: 100%;
	display: none;
	z-index: 1;
	height: 100%; 
}
.translate_w{
	margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 3px;
    color: #918989;
}
.general_w{
	color: #1d7fd7;
}